{% extends 'base.html' %}
{% load static %}
{% block content %}  

<div class="page-body">
   <form>
      <div class="container-fluid">
        <div class="card p-3 project-list">
            <div class="row m-0">
                <div class="col-md-6 col-6">
                    <h5 class="mb-0 mt-2">Cancel Order</h5>
                </div>
            </div>
        </div>
            <div class="card mt-2">
                <div class="card-body p-3">
                    
                    <div class="row">
    <div class="col-md-6">
                        <h5 class="mb-1">Party : Titagarh Wagan(Steel) Limited</h5>
                        <div class="ttl-info text-start">
                        <a class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-map-marker"></i></span></a><span> Titagarh Wagan(Steel) Limited 1, A. Q. ROAD, 24 PGS. (N)</span>
                        <br><a href="" class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-phone"></i></span>
                        9804589658
                        </a>
                        
                        
                        
                        </div>
                    </div>
                <div class="col-md-6 text-end rs-text-left rs-mt-25">
                        <br class="visible-xs">
<h5 class="mb-1 f-16">Order Date &amp; Time :  20/02/2022 at 10:30 PM</h5>
                        <h6 class="mb-1 f-14">Order Quantity :  20 Pcs</h6><h6 class="mb-0 f-14">Estimated Value : 5000/-</h6>
                    </div></div>
                    <h5 class="mt-4 mb-0">Give Cancel Reason</h5>
<hr class="my-2">
                    <textarea class="form-control" style="
    height: 150px;
"></textarea>
                
                
                </div>
                <div class="card-footer text-end py-4">
                        <div class="col-sm-9 offset-sm-3">
                           <button class="btn btn-primary" type="submit" data-bs-original-title="" title="">Submit</button>
                           <input class="btn btn-light" type="reset" value="Cancel" data-bs-original-title="" title="">
                        </div>
                     </div>
            </div>
    
        </div>
      </div>
   </form>
</div>


{% endblock content %}

