{% extends 'base.html' %}
{% load static %}
{% block content %}  
<div class="page-body">
   <form>
      <div class="container-fluid">
        <div class="card p-3 project-list">
            <div class="row m-0">
                <div class="col-md-6 col-6">
                    <h5 class="mb-0 mt-2">My Customer</h5>
                </div>
                <div class="col-md-6 col-6">                    
                     <a class="btn btn-primary rs_add" href="{% url 'add_customer' %} " data-bs-original-title="" title=""><i class="fa fa-plus-square"></i> <b class="hidden-xs">Add New</b></a>
                     <span class="badge rounded-pill badge-info text-center mt-0 srch_spn "><i class="fa fa-search"></i></span>
                  </div>
            </div>
        </div>
        <div class="card hidden-xs">
            <div class="card-body p-4">
                    <div class="table-responsive">
                    <table class="table">
                    <thead>
                        <tr>
                        <th>Sl No.</th>
                        <th>Party Details</th>
                        <th>Address</th>
                        <th>Contact Person Details</th>
                        <th>Billing Limit Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>1</td>
                        <td>View Name<br>
                            <a href="tel:+5566565656" class="btn p-0 ">
                                <span class="badge rounded-pill badge-primary "><i class="fa fa-phone"></i></span>
                                9804589658
                                </a>,
                            <a href="" class="btn p-0 ">
                            <span class="badge rounded-pill badge-primary "><i class="fa fa-envelope"></i></span>
                            545@demo.com
                            </a>
                        </td>
                        <td>Kolkata- 700110, West Bengal (Code : 19)</td>
                        <td>View Name<br>
                            <a href="tel:+5566565656" class="btn p-0 ">
                                <span class="badge rounded-pill badge-primary "><i class="fa fa-phone"></i></span>
                                9804589658
                                </a>
                        </td>
                        <td>0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            <div class="visible-xs">
            <div class="card mt-2">
                <div class="card-body p-3">
                    <span class="badge badge-info f-16 w-100 py-1 mb-3" style="position: relative;left: 0;top: -2px;padding: 3px 6px 0;letter-spacing: 0;">1. View Zone Name</span>
                    <div>
                        <h5 class="mb-1">Party : DPI65802</h5>
                        <div class="ttl-info text-start">
                        <a class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-map-marker"></i></span></a><span> 2/A Krishna Chatterjee Lane, Kolkata - 700110</span>
                        <br><a href="" class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-phone"></i></span>
                        9804589658
                        </a>
                        <a href="" class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-whatsapp"></i></span>
                        9804589658
                        </a>
                        <br>
                        <a href="" class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-envelope"></i></span>
                        545@demo.com
                        </a>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div>
                        <h6 class="mb-1">Contact Person : <b>View Name</b></h6>
                        <a href="" class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-phone"></i></span>
                        9804589658
                        </a>
                    </div>
                <hr class="my-3">
                <div>
                        <p class="mb-1">GST No. : <b>454545456</b></p>
                        <p class="mb-1">Billing Limit Amount : <b><i class="fa fa-inr"></i> 500</b></p>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body p-3">
                    <span class="badge badge-info f-16 w-100 py-1 mb-3" style="position: relative;left: 0;top: -2px;padding: 3px 6px 0;letter-spacing: 0;">1. View Zone Name</span>
                    <div>
                        <h5 class="mb-1">Party : DPI65802</h5>
                        <div class="ttl-info text-start">
                        <a class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-map-marker"></i></span></a><span> 2/A Krishna Chatterjee Lane, Kolkata - 700110</span>
                        <br><a href="" class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-phone"></i></span>
                        9804589658
                        </a>
                        <a href="" class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-whatsapp"></i></span>
                        9804589658
                        </a>
                        <br>
                        <a href="" class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-envelope"></i></span>
                        545@demo.com
                        </a>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div>
                        <h6 class="mb-1">Contact Person : <b>View Name</b></h6>
                        <a href="" class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-phone"></i></span>
                        9804589658
                        </a>
                    </div>
                <hr class="my-3">
                <div>
                        <p class="mb-1">GST No. : <b>454545456</b></p>
                        <p class="mb-1">Billing Limit Amount : <b><i class="fa fa-inr"></i> 500</b></p>
                    </div>
                </div>
            </div>
            </div>
    
        </div>
      </div>
   </form>
</div>
<div class="right_panel">
	<div class="pc-item pc-caption d-flex">
		<h6 class="flex_1">Filter Customer</h6>
		<p class="dropdown_top_icon close_right_panel">
			<i class="fa fa-times "></i>
		</p>
		<hr class="menu_hr">
	</div>
	<div class="filter_scroll">
      <div class="px-4 mb-2">
         <label class=" col-form-label pb-0">Zone Name </label>
         <select class="form-control">
             <option></option>
         </select>
      </div>
   </div>
   <div class="bottom_search px-4 py-3">
   	<button type="submit" class="btn btn-primary tx-12 py-2"><i class="fa fa-search"></i> Search</button>
	<button type="submit" class="btn btn-grey-light tx-12 py-2"><i class="fa fa-sync"></i> Reset</button>
   </div>
</div>
{% endblock content %}