{% extends 'base.html' %}
{% load static %}
{% block content %}  
<div class="page-body">
<form>
   <!-- Container-fluid starts-->
   <div class="container-fluid">
        <div class="user-profile mt-5">
            <div class="row">
                <!-- user profile first-style start-->
                <div class="col-sm-6 offset-md-3 col-12">
                  <div class="card hovercard text-center mt-3 rs-mt-60">
                    
                    <div class="user-image">
                      <div class="avatar">
                        <img alt="" src="{% static 'images/1.jpg' %} " class="img-100">
                        <span class="badge rounded-pill badge-success d-block f-14 p-relative w-50-m-auto" style="bottom:0;">
                            <i class="fa fa-upload"></i>   Picture
                            <input type="file" class="hidden_input_file">
                        </span>
                      </div>
                    </div>
                    <div class="info mt-5 text-start">
                        <div class="mb-2 row">
                            <label class="rs-pb-0 col-md-4 col-12 col-form-label"> Name</label>
                            <div class="col-md-8 col-12">
                                <input type="text" class="form-control" value="SANJU DAS">
                            </div>
                        </div>
                        
                        <div class="mb-2 row">
                            <label class="rs-pb-0 col-md-4 col-12 col-form-label">Contact No.</label>
                            <div class="col-md-8 col-12">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                    <input class="form-control" type="text" placeholder="Mobile No" value="7603042988">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <label class="rs-pb-0 col-md-4 col-12 col-form-label">Whatsapp No.</label>
                            <div class="col-md-8 col-12">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-whatsapp"></i></span>
                                    <input class="form-control" type="text" placeholder="Whatsapp No" value="7603042988">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <label class="rs-pb-0 col-md-4 col-12 col-form-label">Mail Id</label>
                            <div class="col-md-8 col-12">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    <input class="form-control" type="text" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <label class="col-md-4 col-12 col-form-label">Address</label>
                            <div class="col-md-8 col-12">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="card-footer text-end pt-4 p-0 mt-3">
                                <div class="col-sm-9 offset-sm-3">
                                <button class="btn btn-primary" type="submit" data-bs-original-title="" title="">Submit</button>
                                <input class="btn btn-light" type="reset" value="Cancel" data-bs-original-title="" title="">
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
   <!-- Container-fluid Ends-->
   </form>
</div>

{% endblock content %}