{% extends 'base.html' %}
{% load static %}
{% block content %}  

<div class="page-body">
<form>
   <!-- Container-fluid starts-->
   <div class="container-fluid">
        <div class="card p-3 py-2">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-0 mt-2">My Zone</h5>
                </div>
            </div>
        </div>
        <div class="card rs-mt-10 rs-br-0">
            <div class="card-body p-4 rs-p-0">
                <div class="">
                    <table class="table rs_table">
                        <thead>
                            <tr>
                                <th class="rs-w-5"><span  class="hidden-xs">Sl No.</span></th>
                                <th>Zone Name</th>
                                <th class="rs-text-right">Area Covered</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">1</span>
                                    <span class="hidden-xs">1</span>
                                </td>
                                <td>AGARPARA</td>
                                <td class="rs-text-right">AGARPARA</td>
                            </tr>
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">2</span>
                                    <span class="hidden-xs">2</span>
                                </td>
                                <td>BARRACKPUR F</td>
                                <td class="rs-text-right">BARRACKPUR F</td>
                            </tr>
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">3</span>
                                    <span class="hidden-xs">3</span>
                                </td>
                                <td>BYPASS</td>
                                <td class="rs-text-right">BYPASS</td>
                            </tr>
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">1</span>
                                    <span class="hidden-xs">1</span>
                                </td>
                                <td>AGARPARA</td>
                                <td class="rs-text-right">AGARPARA</td>
                            </tr>
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">2</span>
                                    <span class="hidden-xs">2</span>
                                </td>
                                <td>BARRACKPUR F</td>
                                <td class="rs-text-right">BARRACKPUR F</td>
                            </tr>
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">3</span>
                                    <span class="hidden-xs">3</span>
                                </td>
                                <td>BYPASS</td>
                                <td class="rs-text-right">BYPASS</td>
                            </tr>
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">1</span>
                                    <span class="hidden-xs">1</span>
                                </td>
                                <td>AGARPARA</td>
                                <td class="rs-text-right">AGARPARA</td>
                            </tr>
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">2</span>
                                    <span class="hidden-xs">2</span>
                                </td>
                                <td>BARRACKPUR F</td>
                                <td class="rs-text-right">BARRACKPUR F</td>
                            </tr>
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">3</span>
                                    <span class="hidden-xs">3</span>
                                </td>
                                <td>BYPASS</td>
                                <td class="rs-text-right">BYPASS</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!-- Container-fluid Ends-->
   </form>
</div>

{% endblock content %}