{% extends 'base.html' %}
{% load static %}
{% block content %}  
<div class="page-body">
   <form>
      <div class="container-fluid">
           <div class="row">
              <div class="col-md-6 offset-md-3">
                 <div class="card mt-2">
                     <div class="card-header px-4 py-3">
                    <h5>Place Order</h5>
                </div>
                    <div class="card-body p-3">
                     <h5 class="mb-3 badge badge-info w-100 f-18 py-1">Party : Titagarh Wagan(Steel) Limited</h5>
                     <div class="ttl-info text-start">
                        <a class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-map-marker"></i></span></a><span> Titagarh Wagan(Steel) Limited 1, A. Q. ROAD, 24 PGS. (N)</span>
                        <br><a href="" class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-phone"></i></span>
                        9804589658
                        </a>
                        <br class="visible-xs">
                        <a href="" class="btn p-0 ">
                        <span class="badge rounded-pill badge-primary "><i class="fa fa-envelope"></i></span>
                        545@demo.com
                        </a>
                     </div>
                      <div class="rs-text-left rs-mt-25">
                         <hr>
                         <h5 class="mb-1 f-16">Order Date &amp; Time :  20/02/2022 at 10:30 PM</h5>
                         <h6 class="mb-1 f-14">Order Quantity :  20 Pcs | Product Rate : 200/- | Cylinder Type : 19Kg</h6>
                         <h6 class="mb-0 f-14">Estimated Value : 5000/- | Discount : 200/-</h6>
                      </div>
                        <hr>
                         <h5 class="mb-1 f-16">Line Man Name : View Name</h5>
                         <div class="ttl-info text-start">
                            <a href="" class="btn p-0 ">
                            <span class="badge rounded-pill badge-primary "><i class="fa fa-phone"></i></span>
                            9804589658
                            </a>
                            <br class="visible-xs">
                            <a href="" class="btn p-0 ">
                            <span class="badge rounded-pill badge-primary "><i class="fa fa-envelope"></i></span>
                            545@demo.com
                            </a>
                            <h5 class="my-1 f-14">Tag Date &amp; Time :  20/02/2022 at 10:30 PM</h5>
                         </div>
                         <hr>
                         <h5 class="mb-1 f-16">Delivery Date &amp; Time :  20/02/2022 at 10:30 PM</h5>
                         <h6 class="mb-1 f-14">Delivery Quantity :  20 Pcs</h6>
                         <h6 class="mb-0 f-14">Balance : 10Pcs</h6>
                    </div>
                 </div>
            </div>
         </div>
      </div>
</div>
</form>
</div>
{% endblock content %}