{% extends 'base.html' %}
{% load static %}
{% block content %}  

<div class="page-body">
    <div class="container">
        <h2>ARP ITEMS</h2>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#arp_products">Products</a></li>
          <li><a data-toggle="tab" href="#arp_services">Services</a></li></ul>
      
        <div class="tab-content">
          <!-- arp_Products -->
          <div id="arp_products" class="tab-pane fade in active">
            <h3 class="text-center text-primary">Products</h3>
            <div class="container mt-5">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Sr.No</th>
                          <th scope="col">Product Name</th>
                          <th scope="col">Action</th>
      
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          {% for arp_product in arp_products %}
                              <th scope="row">{{ arp_product.id }}</th>
                              <td>{{ arp_product.name }}</td>
                              <td><a href="" class="btn btn-primary btn-sm">View</a></td>
                          {% endfor %}
                      </tr>
                  </tbody>
              </table>
          </div>
          </div>
      
      
          <!-- ARP_Services -->
          <div id="arp_services" class="tab-pane fade">
              <h3 class="text-center text-primary">Services</h3>
              <div class="container mt-5">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th scope="col">Sr.No</th>
                              <th scope="col">Service Name</th>
                              <th scope="col">Action</th>
          
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              {% for arp_service in arp_services %}
                                  <th scope="row">{{ arp_service.id }}</th>
                                  <td>{{ arp_service.name }}</td>
                                  <td><a href="" class="btn btn-primary btn-sm">View</a></td>
                              {% endfor %}
                          </tr>
                      </tbody>
                  </table>
              </div>
              </div>
          </div>
          
        </div>
      </div>
</div>



{% endblock content %}